body {
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}
.Topper {
    margin-top: 120px;
    margin-left: 240px;
}
.ButtonDolacz {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #212121;
    border:#212121;
    color: white;
    transition: 0.3s all;
    font-size: 22px;
}
.ButtonDolacz:hover {
    background-color: #3a3a3a;
    transform: scale(1.15);
    color: white; 
    font-size: 22px;
}

.left {
    float:left;
}
.right {
    float:right;
}

.howthiswork {
    background-color: #c8c8c8;
    height: 1200px;
    widht: 2920px;
}

::-webkit-scrollbar {
    width: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #202020;    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 18px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
    border-radius: 18px;
  }
  .rotate {
    transform: rotate(180deg);
  }
  .xd {
      margin-top: 70px;
  }

  .trans {
      transition:all 0.3s;
  }
  .trans:hover {
      transform: scale(1.15);
  }